.playersTable {
  border-radius: 8px;
  width: 100%;
  text-align: left;
  border-spacing: 0px;
  margin-bottom: 1rem;
}

.playersTable td,
.playersTable th {
  padding: 0.3em;
  border: 1px solid rgb(218, 218, 218);
}

.playersTable tr {
  height: 30.6px;
}

.deleteBtn:hover {
  cursor: pointer;
}

.copyBtn {
  cursor: pointer;
}

.playerRank,
.playerMmr {
  width: 50px;
}
.playerCell {
  width: 450px;
}
.playerCell:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: all 50ms;
}
