html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
div,
span,
li,
svg {
  color: #fff;
}

body {
  background-color: rgb(0, 3, 1) !important;
}

.primary {
  color: #9f2812;
}
.secondary {
  color: #ac2e15;
}
.tertiary {
  color: #000301;
}
.titleText {
  color: #e2dace;
}
.mainText {
  color: #fff;
}
.primaryBg {
  color: #1c242d;
}
.secondaryBg {
  color: #28333d;
}
.tertiaryBg {
  color: #2d3741;
}
